@import "title_section";
@import "about_section";
@import "opportunities_section";
@import "how-it-works_section";
@import "advantages_section";

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  height: auto;
}
.section-title{
	display: flex;
	align-items: center;
	width: 100%;
	gap: 1.25rem;
	.title-line{
		height: .25rem;
		width: 1.6rem;
		background-color: #105DB7;
	}
	.first{
		position: relative;
		width: 4.375rem;
    transform-origin: right; 
		transform: scaleX(3.3);
	}
	.last{
		position: relative;
    transform-origin: left;
		width: 100%;
		transform: scaleX(1.2);
	}
	h2{
    width: min-content;
    text-wrap: nowrap;
		font-size: 2.5rem;
		font-weight: 500;
		background: #303A97;
		background: linear-gradient(to right, #303A97 0%, #20C2C2 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
