.skills-section{
	width: 100%;
	.skills-wrapper{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
		height: auto;

		.content{
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			gap: 3.75rem;
			margin-top: 3.75rem;
			.title{
				width: 90%;
				text-align: center;
				h2{
					text-wrap: wrap;
					font-size: 2.5rem;
					font-weight: 500;
					background: #303A97;
					background: linear-gradient(to right, #303A97 0%, #20C2C2 100%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			.image-wrapper{
				width: 90%;
				img{
					width: 100%;
				}
			}
		}
	}
}