@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Zen+Dots&display=swap');

@import "clear_styles";
@import "header";
@import "main";
@import "footer";



html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  > * {
    padding:0 4.25rem;
  }
  @media screen and (max-width:1350px) {
    > * {
      padding:0 2.5rem;
    }
  }
}

