@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Zen+Dots&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

header {
  background: rgb(46, 255, 179);
  background: linear-gradient(90deg, rgb(46, 255, 179) 0%, rgb(27, 104, 230) 100%);
  min-height: 7rem;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_logo-wrapper span {
  font-family: "Zen Dots", sans-serif;
  color: white;
  font-size: 2.75rem;
}
header .header_nav {
  width: 50%;
}
header .header_nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
}
header .header_nav ul button {
  padding: 1.25rem 1.9688rem;
  border-radius: 21px;
  font-size: 1.5rem;
  color: white;
  border: none;
  background-color: transparent;
  background-image: radial-gradient(circle at 100% 100%, transparent 18px, #2dfeb4 18px, #2dfeb4 23px, transparent 23px), linear-gradient(to right, #2dfeb4, #34b7fe), radial-gradient(circle at 0% 100%, transparent 18px, #34b7fe 18px, #34b7fe 23px, transparent 23px), linear-gradient(to bottom, #34b7fe, #34b7fe), radial-gradient(circle at 0% 0%, transparent 18px, #34b7fe 18px, #34b7fe 23px, transparent 23px), linear-gradient(to left, #34b7fe, #2fffb5), radial-gradient(circle at 100% 0%, transparent 18px, #2fffb5 18px, #2fffb5 23px, transparent 23px), linear-gradient(to top, #2fffb5, #2dfeb4);
  background-size: 23px 23px, calc(100% - 46px) 5px, 23px 23px, 5px calc(100% - 46px);
  background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 21.5625rem;
  width: 100%;
}
.title-section .text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.title-section .text-wrapper h2 {
  font-size: 2.5rem;
  font-weight: 500;
  background: #303A97;
  background: linear-gradient(to right, #303A97 0%, #20C2C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-section .text-wrapper p {
  font-size: 1.625rem;
  width: 724px;
  font-weight: 400;
  line-height: 2rem;
}

.about-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.125rem;
}
.about-section .about-section_wrapper {
  width: 100%;
  height: 37.5rem;
  display: flex;
  border-radius: 4.5rem;
  background: rgb(48, 58, 151);
  background: linear-gradient(90deg, rgb(48, 58, 151) 0%, rgb(32, 194, 194) 100%);
  position: relative;
}
.about-section .about-section_wrapper .image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  transform: translateY(4.125rem) scale(1);
}
.about-section .about-section_wrapper .image-wrapper img {
  width: 100%;
}
.about-section .about-section_wrapper .text-wrapper {
  color: white;
  width: 50%;
  display: flex;
  margin-right: 4.5625rem;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}
.about-section .about-section_wrapper .text-wrapper h3 {
  font-size: 2.75rem;
}
.about-section .about-section_wrapper .text-wrapper p {
  font-size: 1.5rem;
}
@media screen and (max-width: 1050px) {
  .about-section .about-section_wrapper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 3.75rem;
  }
  .about-section .about-section_wrapper .text-wrapper {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .about-section .about-section_wrapper .text-wrapper p {
    font-size: 1.875rem;
  }
  .about-section .about-section_wrapper .image-wrapper {
    position: relative;
    top: -0.9375rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translateY(150px) scale(1.2);
  }
  .about-section .about-section_wrapper .image-wrapper img {
    width: 100%;
    height: 100%;
  }
}

.opportunities_sections {
  height: auto;
  display: flex;
  flex-direction: column;
}
.opportunities_sections .opportunities_sections_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.opportunities_sections .opportunities_sections_wrapper .pot {
  width: 100%;
  display: flex;
  justify-content: end;
}
.opportunities_sections .opportunities_sections_wrapper .pot .pot_image_wrapper {
  position: relative;
  transform: translate(27.5rem, -6.25rem);
}
.opportunities_sections .opportunities_sections_wrapper .pot .pot_image_wrapper img {
  width: 100%;
}
.opportunities_sections .opportunities_sections_wrapper .pot .arrow_wrapper {
  opacity: 0.5;
  width: auto;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.opportunities_sections .opportunities_sections_wrapper .pot .arrow_wrapper .title {
  position: absolute;
  bottom: 2rem;
}
.opportunities_sections .opportunities_sections_wrapper .pot .arrow_wrapper .title span {
  font-size: 2.5rem;
  background: #303A97;
  background: linear-gradient(to right, #303A97 0%, #20C2C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.opportunities_sections .opportunities_sections_wrapper .pot .first {
  transform: translate(-6.25rem, 8.125rem);
}
.opportunities_sections .opportunities_sections_wrapper .pot .second {
  transform: translate(-17.5rem, 26.875rem);
}
.opportunities_sections .opportunities_sections_wrapper .pot .second .title {
  width: 500px;
}
.opportunities_sections .opportunities_sections_wrapper .pot .arrow_wrapper:hover {
  opacity: 1;
}
@media screen and (max-width: 1350px) {
  .opportunities_sections .opportunities_sections_wrapper .opportunities_sections {
    margin-top: 6.25rem;
  }
  .opportunities_sections .opportunities_sections_wrapper .pot .first {
    transform: translate(12.5rem, 8.125rem);
  }
  .opportunities_sections .opportunities_sections_wrapper .pot .second {
    transform: translate(5rem, 26.875rem);
  }
  .opportunities_sections .opportunities_sections_wrapper .pot .second .title {
    width: 31.25rem;
  }
  .opportunities_sections .opportunities_sections_wrapper .arrow_wrapper img {
    width: 70%;
  }
}
.opportunities_sections .opportunities_sections_wrapper .mobile-app {
  width: 100%;
  display: flex;
  justify-content: start;
}
.opportunities_sections .opportunities_sections_wrapper .mobile-app .mobile-app_image_wrapper {
  position: relative;
  transform: translate(-5.9375rem, -25rem);
}
.opportunities_sections .opportunities_sections_wrapper .mobile-app .mobile-app_image_wrapper img {
  width: 100%;
}
.opportunities_sections .opportunities_sections_wrapper .mobile-app .arrow_wrapper {
  opacity: 0.5;
  width: auto;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.opportunities_sections .opportunities_sections_wrapper .mobile-app .arrow_wrapper .title {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: end;
  bottom: 2rem;
  right: -1rem;
}
.opportunities_sections .opportunities_sections_wrapper .mobile-app .arrow_wrapper .title span {
  font-size: 2.5rem;
  background: #303A97;
  background: linear-gradient(to right, #303A97 0%, #20C2C2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.opportunities_sections .opportunities_sections_wrapper .mobile-app .arrow_wrapper .image_wrapper {
  transform: scaleX(-1);
}
.opportunities_sections .opportunities_sections_wrapper .mobile-app .first {
  transform: translate(4.25rem, -8.125rem);
}
.opportunities_sections .opportunities_sections_wrapper .mobile-app .first .title {
  width: 500px;
}
.opportunities_sections .opportunities_sections_wrapper .mobile-app .second {
  transform: translate(13.5rem, 10.875rem);
}
.opportunities_sections .opportunities_sections_wrapper .mobile-app .arrow_wrapper:hover {
  opacity: 1;
}
@media screen and (max-width: 1350px) {
  .opportunities_sections .opportunities_sections_wrapper .pot .arrow_wrapper {
    opacity: 1;
  }
  .opportunities_sections .opportunities_sections_wrapper .mobile-app .mobile-app_image_wrapper {
    position: relative;
    transform: translate(-15.625rem, -12.5rem);
  }
  .opportunities_sections .opportunities_sections_wrapper .mobile-app .mobile-app_image_wrapper img {
    width: 100%;
  }
  .opportunities_sections .opportunities_sections_wrapper .mobile-app .first {
    transform: translate(-15.625rem, 6.25rem);
  }
  .opportunities_sections .opportunities_sections_wrapper .mobile-app .first .title {
    width: 300px;
  }
  .opportunities_sections .opportunities_sections_wrapper .mobile-app .arrow_wrapper {
    opacity: 1;
  }
  .opportunities_sections .opportunities_sections_wrapper .mobile-app .arrow_wrapper img {
    width: 70%;
  }
  .opportunities_sections .opportunities_sections_wrapper .mobile-app .second {
    transform: translate(-11.25rem, 26.875rem);
  }
  .opportunities_sections .opportunities_sections_wrapper .mobile-app .second .title {
    width: 250px;
    margin-right: 40px;
  }
}

@media screen and (max-width: 1350px) {
  .opportunities_sections {
    margin-top: 6.25rem;
  }
}
main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  height: auto;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 1em;
  height: 3rem;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
.wrapper > * {
  padding: 0 4.25rem;
}
@media screen and (max-width: 1350px) {
  .wrapper > * {
    padding: 0 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
